In [ ]:
!pip install --upgrade keras

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: keras in /usr/local/lib/python3.9/dist-packages (2.12.0)

In [ ]:
import pandas as pd
import numpy as np
from keras.preprocessing.text import Tokenizer
from keras.utils import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM, Dropout
from sklearn.model_selection import train_test_split
from keras.utils import to_categorical

In [1]:
pwd

'C:\\Users\\Karthiek Duggirala\\Downloads'

In [ ]:
df = pd.read_csv('preprocessed_data.csv', header = None)

In [ ]:
df.columns

Int64Index([0, 1, 2], dtype='int64')

In [ ]:
df = df.reset_index(drop=True)

In [ ]:
df = df.dropna()

In [ ]:
df.head()

     0                                                  1    2
1  0.0  summer high school when we first met we would ...  pop
2  1.0  yeah yeah yeah i can feel phoenix inside me i ...  pop
3  2.0  told them your dream they started i guess you ...  pop
4  3.0  if i lost it today would you stay could my lov...  pop
5  4.0  nice leg daisy duke make man go that is the wa...  pop

In [ ]:
df = df.drop(0, axis=1)

In [ ]:
df.head()

                                                   1    2
1  summer high school when we first met we would ...  pop
2  yeah yeah yeah i can feel phoenix inside me i ...  pop
3  told them your dream they started i guess you ...  pop
4  if i lost it today would you stay could my lov...  pop
5  nice leg daisy duke make man go that is the wa...  pop

In [ ]:
df = df.rename(columns={1: "lyrics", 2: "genre"})

In [ ]:
# Convert genre labels to one-hot encoded vectors
df["genre"] = pd.Categorical(df["genre"])
df["genre_code"] = df["genre"].cat.codes
labels = to_categorical(df["genre_code"], num_classes=3)

In [ ]:
# Tokenize the lyrics
tokenizer = Tokenizer(num_words=2000, split=' ')
tokenizer.fit_on_texts(df['lyrics'].values)
X = tokenizer.texts_to_sequences(df['lyrics'].values)
X = pad_sequences(X)

In [ ]:
train_data, test_data, train_labels, test_labels = train_test_split(X, labels, test_size=0.2, random_state=42)

In [ ]:
# Define the model architecture
model = Sequential()
model.add(Embedding(2000, 128, input_length=X.shape[1]))
model.add(LSTM(units=128, dropout=0.4, recurrent_dropout=0.2))
model.add(Dense(3, activation='softmax'))

In [ ]:
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [17]:
model.fit(train_data, train_labels, epochs=10, batch_size=32, validation_split=0.1)

Epoch 1/10
619/619 [==============================] - 405s 650ms/step - loss: 0.5200 - accuracy: 0.7860 - val_loss: 0.4997 - val_accuracy: 0.7854
Epoch 2/10
619/619 [==============================] - 406s 655ms/step - loss: 0.4707 - accuracy: 0.7994 - val_loss: 0.5094 - val_accuracy: 0.7885
Epoch 3/10
619/619 [==============================] - 401s 648ms/step - loss: 0.4387 - accuracy: 0.8094 - val_loss: 0.5148 - val_accuracy: 0.7744
Epoch 4/10
619/619 [==============================] - 399s 645ms/step - loss: 0.4078 - accuracy: 0.8221 - val_loss: 0.5395 - val_accuracy: 0.7790
Epoch 5/10
619/619 [==============================] - 399s 644ms/step - loss: 0.3808 - accuracy: 0.8388 - val_loss: 0.5546 - val_accuracy: 0.7649
Epoch 6/10
619/619 [==============================] - 398s 643ms/step - loss: 0.3578 - accuracy: 0.8475 - val_loss: 0.5876 - val_accuracy: 0.7613
Epoch 7/10
619/619 [==============================] - 399s 645ms/step - loss: 0.3310 - accuracy: 0.8597 - val_loss: 0.6047 - val_accuracy: 0.7699
Epoch 8/10
619/619 [==============================] - 399s 645ms/step - loss: 0.3096 - accuracy: 0.8703 - val_loss: 0.6326 - val_accuracy: 0.7631
Epoch 9/10
619/619 [==============================] - 400s 646ms/step - loss: 0.2884 - accuracy: 0.8790 - val_loss: 0.6790 - val_accuracy: 0.7522
Epoch 10/10
619/619 [==============================] - 398s 644ms/step - loss: 0.2665 - accuracy: 0.8910 - val_loss: 0.7088 - val_accuracy: 0.7563

In [18]:
test_loss, test_acc = model.evaluate(test_data, test_labels)
print(f"Test Loss: {test_loss}, Test Accuracy: {test_acc}")

172/172 [==============================] - 22s 128ms/step - loss: 0.6566 - accuracy: 0.7631
Test Loss: 0.656582236289978, Test Accuracy: 0.7631435394287109